@model VesalBahar.Core.ViewModels.ArticleGroups.ArticleGroupCreateOrEditVm

@{
    ViewData["Title"] = $"حذف {Model.Title}";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>حذف</h2>

<h3>آيا از حذف اين مورد اطمينان داريد ؟</h3>
<div>
    <h4>گروه @Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">بازگشت به فهرست</a>
    </form>
</div>

