@using VesalBahar.Core.Utilities.Extensions
@model IEnumerable<VesalBahar.Core.ViewModels.ArticleGroups.ArticleGroupIndexVm>

@{
    ViewData["Title"] = "گروه مقالات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fa fa-plus"></i> افزودن گروه جديد
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                @if (item.ModifyDate.HasValue)
                {
                    @item.ModifyDate.Value.ToShamsi()
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa fa-pencil fa-2x"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fa fa-info fa-2x"></i></a>                    
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-recycle fa-2x"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>


